{% extends "base.html" %}

{% block title %}TV Shows{% endblock %}

{% block content %}
<h3>TV Shows</h3>
{% if show_list %}
  <table id="table_filtered" class="table">
  	<thead>
  		<tr>
  			<th>Name</th>
  			<th>Next Episode</th>
  			<th style="text-align: right;">Genre</th>
  		</tr>

  	</thead>
   	<tbody>
    {% for show in show_list %}
        <tr>
        	<td><a href="{% url "tv-show" pk=show.id %}">{{ show.name }}</a></td>
        	<td>{{ show.date_next_episode.date }}</td>
        	<td style="text-align: right;">
            {% for g in show.genre_list %}
              <span class="label label-default">{{ g }}</span>
            {% endfor %}
          </td>
       	</tr>
    {% endfor %}
	</tbody>
  </table>
{% else %}
    <p>No shows are available.</p>
{% endif %}
{% endblock %}
{% block script-body %}
<script src="http://media.artschwager.com/js/jquery.table-filter.min.js"></script>
<script type="text/javascript">
  $(function () {
    $("#table_filtered").addTableFilter();
  });
</script>
{% endblock %}