{% extends "base.html" %}

{% block title %}{{ show.name }}{% endblock %}

{% block content %}
<h2>{{ show.name }}</h2>
<h4>Seasons</h4>
	<ul class="nav nav-pills">
	{% for season in season_list %}
        <li class="active"><a href="/tv/season/{{ season.season_tvdbid }}">{{ season.number }}</a></li>
    {% endfor %}
	</ul>
<h4>Episodes</h4>
<table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th style="width: 200px;">Name</th>
				  <th>Description</th>
                </tr>
              </thead>
              <tbody>
			{% for episode in episode_list %}
        {% if User in episode.views.all %}
          <tr class="info">
        {% else %}
          <tr>
        {% endif %}
                  <td>{{ episode.number }}</td>
                  <td style="width: 200px;"><a href="/tv/episode/{{ episode.episode_tvdbid }}">{{ episode.name }}</a></td>
				  <td>{{ episode.description }}</td>
                </tr>
			{% endfor %}
              </tbody>
            </table>
    
{% endblock %}

