{% extends "base.html" %}

{% block title %}{{ show.name }}{% endblock %}

{% block content %}
<h2>{{ show.name }}</h2>
<img style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(white)); margin-bottom: 40px;" src="{{ show_banner }}">
<ul class="nav nav-pills">
{% for season in season_list %}
	<li class="active"><a href="{% url "tv-season" pk=season.id %}">{{ season.number }}</a></li>
{% endfor %}
</ul>
{% if show.description %}
<p>{{ show.description }}</p>
{% endif %}
<dl class="dl-horizontal">
  {% if show.date_updated %}
  <dt>Date Updated</dt>
    <dd>{{ show.date_updated }}</dd>
  {% endif %}
  {% if show.genre %}
  <dt>Genre</dt>
    <dd>{{ show.genre }}</dd>
  {% endif %}
  {% if show.content_rating %}  
  <dt>Rating</dt>
    <dd>{{ show.content_rating }}</dd>
  {% endif %}
  {% if show.network %}  
  <dt>Network</dt>
    <dd>{{ show.network }}</dd>
  {% endif %}
  {% if show.actors %}  
  <dt>Actors</dt>
    <dd>{{ show.actors }}</dd>
  {% endif %}
  {% if show.runtime %}  
  <dt>Runtime</dt>
    <dd>{{ show.runtime }}</dd>
  {% endif %}
  {% if show.airs %}  
  <dt>Airs</dt>
    <dd>{{ show.airs }}</dd>
  {% endif %}
  {% if show.date_next_episode %}  
  <dt>Next Episode</dt>
    <dd>{{ show.date_next_episode.date }}</dd>
  {% endif %}
</dl>

{% if show.use_sickbeard %}
  <div class="btn btn-default"><span class="glyphicon glyphicon-ok-sign"></span> Sickbeard Sync Enabled</div>
{% else %}
  <div class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Sickbeard Sync Disabled</div>
{% endif %}
{% if show.tvdbid %}
  <a class="btn btn-default" href="http://nullrefer.com/?http://thetvdb.com/?id={{ show.tvdbid }}&tab=series">TVDB</a>
{% endif %}
{% if is_favorite %}
  <a class="btn btn-success" href="{% url "tv-show-favorite" pk=show.id %}"><span class="glyphicon glyphicon-thumbs-up"></span> Favorite</a>
{% else %}
  <a class="btn btn-default" href="{% url "tv-show-favorite" pk=show.id %}"><span class="glyphicon glyphicon-thumbs-up"></span> Add to Favorites</a>
{% endif %}

{% endblock %}

