{% extends "base.html" %}

{% block title %}{{ show.name }}{% endblock %}

{% block content %}
<h2>{{ show.name }}</h2>
<img style="-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(white)); margin-bottom: 40px;" src="{{ show_banner }}">
	<ul class="nav nav-pills">
	{% for season in season_list %}
        <li class="active"><a href="{% url "tv-season" pk=season.id %}">{{ season.number }}</a></li>
    {% endfor %}
	</ul>
<h4>Episodes</h4>
<table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th style="width: 200px;">Name</th>
				  <th>Description</th>
                </tr>
              </thead>
              <tbody>
			{% for episode in episode_list %}
        {% if User in episode.views.all %}
          <tr class="info">
        {% else %}
          <tr>
        {% endif %}
                  <td>{{ episode.number }}</td>
                  <td style="width: 200px;"><a href="{% url "tv-episode" pk=episode.id %}">{{ episode.name }}</a></td>
				  <td>{{ episode.description }}</td>
                </tr>
			{% endfor %}
              </tbody>
            </table>
    
{% endblock %}

